@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"] {
  /* menghilangkan tampilan default */
  appearance: none; 
  /* buat custom design */
  width: 85%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* menghilangkan tampilan default */
  appearance: none; 
  /* buat custom design */
  height: 35px;
  width: 35px;
  background-color: hsl(174, 86%, 45%);
  background-image: url("../../public/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
box-shadow: 0 6px 5px 8px hsla(174, 86%, 45%, 0.2);
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 35px;
  width: 35px;
  background-image: url("../../public/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(174, 86%, 45%);
  border-radius: 50%;
  border: none;
  box-shadow: 0 6px 5px 8px hsla(174, 86%, 45%, 0.2);
  
}
